---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hugo Le Moine">
	<div class="avatar">
		<div class="w-36 rounded-full ring ">
		  <img src={import.meta.env.BASE_URL + "images/profile-picture.jpg"} />
		</div>
	</div>
	<p>Hi! I am Hugo Le Moine 👋</p>
</Layout>