---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hugo Le Moine">
	<div class="avatar flex justify-center m-6">
		<div class="w-48 rounded-full ring">
		  <img src={import.meta.env.BASE_URL + "images/profile-picture.jpg"} alt="profile picture of Hugo"/>
		</div>
	</div>
	<p class="text-center">Hi! I am Hugo Le Moine 👋</p>
	<p class="text-center">This new version of my website is still under construction, stay tuned!</p>
</Layout>